<div layout="row" layout-align="center top" flex="20" ng-controller="MainCtrl as vm">
  <div flex="65">
    <md-content class="md-padding">
      <md-tabs md-border-bottom md-dynamic-height>
        <md-tab label="{{tab.title}}" ng-repeat="tab in tabs">
          <md-content class="md-padding">            
            <table>
              <tr ng-repeat="building in tab.buildings">
                <td>
                  <img src="assets/images/game/{{building.name + building.currentLevel}}.png" alt="">
                  {{building.title}}</td>
                <td>
                  <md-button class="md-fab md-warn md-mini" ng-click="vm.decrementLevel(building)">-</md-button>
                  <span>{{building.currentLevel}} / {{building.maxLevel}}</span>
                  <md-button class="md-fab md-primary md-mini" ng-click="vm.incrementLevel(building)">+</md-button>
                </td>
              </tr>
            </table>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
  <div flex="35">
    <md-content class="md-padding">
      <md-tabs md-border-bottom>
        <md-tab label="Upgrades">
          <md-content class="md-padding">
            <h1 class="md-display-2">Upgrades</h1>
            
          </md-content>
        </md-tab>
        <md-tab label="Build Queue">
          <md-content class="md-padding">
            <h1 class="md-display-2">Build Queue</h1>
            
          </md-content>
        </md-tab>
        <md-tab label="Lab Queue">
          <md-content class="md-padding">
            <h1 class="md-display-2">Lab Queue</h1>
            
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>